@font-face {
    font-family: 'icon_nh_www';
    src:  url('fonts/icon_nh_www.eot?a26q4p');
    src:  url('fonts/icon_nh_www.eot?a26q4p#iefix') format('embedded-opentype'),
      url('fonts/icon_nh_www.ttf?a26q4p') format('truetype'),
      url('fonts/icon_nh_www.woff?a26q4p') format('woff'),
      url('fonts/icon_nh_www.svg?a26q4p#icon_nh_www') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icon_nh_www' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-person:before {
    content: "\e93f";
  }
  .icon-a-location:before {
    content: "\e914";
  }
  .icon-a-mail:before {
    content: "\e913";
  }
  .icon-a-phone1:before {
    content: "\e912";
  }
  .icon-a-phone2:before {
    content: "\e911";
  }
  .icon-arrow-down:before {
    content: "\e910";
  }
  .icon-arrow-up:before {
    content: "\e90f";
  }
  .icon-b-man:before {
    content: "\e918";
  }
  .icon-b-minus:before {
    content: "\e91a";
  }
  .icon-b-plus:before {
    content: "\e91b";
  }
  .icon-b-woman:before {
    content: "\e919";
  }
  .icon-check:before {
    content: "\e91c";
  }
  .icon-clock:before {
    content: "\e91d";
  }
  .icon-close:before {
    content: "\e91e";
  }
  .icon-e-fat:before {
    content: "\e915";
  }
  .icon-e-skinny:before {
    content: "\e917";
  }
  .icon-e-slim:before {
    content: "\e916";
  }
  .icon-exit:before {
    content: "\e91f";
  }
  .icon-filter:before {
    content: "\e920";
  }
  .icon-hamburger:before {
    content: "\e921";
  }
  .icon-m-list:before {
    content: "\e922";
  }
  .icon-m-tiles:before {
    content: "\e923";
  }
  .icon-nh_about1:before {
    content: "\e925";
  }
  .icon-nh_about2:before {
    content: "\e926";
  }
  .icon-nh_about3:before {
    content: "\e927";
  }
  .icon-nh_about4:before {
    content: "\e928";
  }
  .icon-prod-cat1:before {
    content: "\e904";
  }
  .icon-prod-cat2:before {
    content: "\e903";
  }
  .icon-prod-cat3:before {
    content: "\e902";
  }
  .icon-prod-cat4:before {
    content: "\e929";
  }
  .icon-prod-cat5:before {
    content: "\e92a";
  }
  .icon-prod-cat6:before {
    content: "\e92b";
  }
  .icon-prod-cat7:before {
    content: "\e92c";
  }
  .icon-prod-cat8:before {
    content: "\e92d";
  }
  .icon-prod-cat9:before {
    content: "\e92e";
  }
  .icon-prod-cat10:before {
    content: "\e92f";
  }
  .icon-prod-cat11:before {
    content: "\e930";
  }
  .icon-prod-cat12:before {
    content: "\e931";
  }
  .icon-prod-thin-cat1:before {
    content: "\e932";
  }
  .icon-prod-thin-cat2:before {
    content: "\e933";
  }
  .icon-prod-thin-cat3:before {
    content: "\e934";
  }
  .icon-prod-thin-cat4:before {
    content: "\e935";
  }
  .icon-prod-thin-cat5:before {
    content: "\e936";
  }
  .icon-prod-thin-cat6:before {
    content: "\e937";
  }
  .icon-prod-thin-cat7:before {
    content: "\e938";
  }
  .icon-prod-thin-cat8:before {
    content: "\e939";
  }
  .icon-prod-thin-cat9:before {
    content: "\e93a";
  }
  .icon-prod-thin-cat10:before {
    content: "\e93b";
  }
  .icon-prod-thin-cat11:before {
    content: "\e93c";
  }
  .icon-prod-thin-cat12:before {
    content: "\e93d";
  }
  .icon-quote:before {
    content: "\e924";
  }
  .icon-nh:before {
    content: "\e900";
  }
  .icon-star:before {
    content: "\e901";
  }
  .icon-a-right:before {
    content: "\e905";
  }
  .icon-a-left:before {
    content: "\e906";
  }
  .icon-a-up:before {
    content: "\e907";
  }
  .icon-a-down:before {
    content: "\e908";
  }
  .icon-arrow-left:before {
    content: "\e909";
  }
  .icon-arrow-right:before {
    content: "\e90a";
  }
  .icon-search:before {
    content: "\e90b";
  }
  .icon-play:before {
    content: "\e90c";
  }
  .icon-fb:before {
    content: "\e90d";
  }
  .icon-insta:before {
    content: "\e90e";
  }
  